.imageBlock > picture {
  width: 100%;
  height: 100%;
}
.imageBlock > picture > img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
