.group {
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: 25% 25% 25%;
}

.group img {
  width: 100%;
}

.topRightImage {
  width: 100%;
}

.bottomLeftImage {
  grid-column-start: 1;
}

.suggestionImage {
  grid-column-start: 2;
}
.bottomRightImage {
  grid-column-start: 3;
  grid-row-start: 2;
}

.leftGroup {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 1;
}

.rightGroup {
  display: flex;
  flex-direction: column;
}
