.group {
  display: flex;
}

.leftGroup,
.rightGroup,
.menuGroup {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.bottomLeftImage,
.topRightImage {
  height: 35%;
}

.topLeftImage,
.bottomRightImage {
  height: 65%;
}
