.group {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  grid-template-rows: 25% 25% 25%;
}

.leftImage {
  width: 100%;
}

.rightImage,
.suggestionImage {
  width: 100%;
}

.bottomImage {
  width: 200%;
  grid-column-start: 2;
}

.suggestionImage {
  grid-column-start: 2;
}
