.header img {
  width: auto;
}

.header h1 {
  position: absolute;
  color: white;
}

.headerImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 10rem 3rem 10rem;
}

.text :first-child {
  padding: 2rem 0;
}
