.carousel {
  width: auto;
  overflow: auto;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 5rem;
  display: flex;
  text-align: center;
}

.singelCarousel {
  padding: 1rem;
  min-width: 100%;
}
