.form {
  display: flex;
  justify-content: center;
}

.text {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.order {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.group {
  display: flex;
  justify-content: center;
}

.form textarea[type="text"],
.form textarea[type="email"] {
  background-color: #dfdbca;
  opacity: 60%;
  width: 458px;
  height: 50px;
  border: none;
  resize: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  padding-top: 0.75rem;
}

.form textarea[type="text"]::placeholder,
.form textarea[type="email"]::placeholder {
  padding-left: 1rem;
  color: #000000;
  opacity: 75%;
}

.submitButton {
  border: 0;
  background: #6f6860;
  color: white;
  width: 184px;
  height: 50px;
  cursor: pointer;
  margin: 1.5rem 0;
  align-self: flex-end;
}

.form textarea[type="text"]:nth-last-child(2) {
  width: 942px;
  height: 100px;
}

.last {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.textInfo {
  display: flex;
}

.text p {
  margin: 0.2rem;
}

.textInfo p {
  margin: 0.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .group {
    flex-direction: column;
  }

  .form textarea[type="text"],
  .form textarea[type="email"] {
    background-color: #dfdbca;
    opacity: 60%;
    width: 95%;
    height: 48px;
    border: none;
  }

  .form textarea[type="text"]:nth-last-child(2) {
    width: 95%;
    height: 185px;
  }

  .form textarea[type="text"]::placeholder,
  .form textarea[type="email"]::placeholder {
    padding-left: 0.5rem;
  }

  .submitButton {
    width: 95%;
    align-self: flex-start;
  }

  .last label {
    align-self: flex-start;
  }

  .text p {
    text-align: center;
  }

  .textInfo {
    align-items: center;
    flex-direction: column;
  }
}
