.form {
  display: flex;
  justify-content: center;
}

.text {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.order {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.group {
  display: flex;
  justify-content: center;
}

.form input[type="text"],
.form input[type="email"] {
  background-color: #dfdbca;
  opacity: 60%;
  width: 458px;
  height: 50px;
  border: none;
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder {
  padding-left: 1rem;
  color: #000000;
  opacity: 75%;
}

.submitButton {
  border: 0;
  background: #6f6860;
  color: white;
  width: 184px;
  height: 50px;
  cursor: pointer;
  margin: 1.5rem 0;
  align-self: flex-end;
}

.form input[type="text"]:nth-last-child(2) {
  width: 942px;
  height: 100px;
}

.last {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.textInfo {
  display: flex;
}

.textInfo p {
  margin: 0.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .group {
    flex-direction: column;
  }

  .form input[type="text"],
  .form input[type="email"] {
    background-color: #dfdbca;
    opacity: 60%;
    width: 335px;
    height: 48px;
    border: none;
  }

  .form input[type="text"]:nth-last-child(2) {
    width: 335px;
    height: 185px;
  }

  .form input[type="text"]::placeholder,
  .form input[type="email"]::placeholder {
    padding-left: 0.5rem;
  }

  .submitButton {
    width: 335px;
    align-self: center;
  }

  .last {
    align-items: center;
  }

  .last label {
    align-self: flex-start;
    padding-left: 0.3rem;
  }

  .text p {
    text-align: center;
  }

  .textInfo {
    align-items: center;
    flex-direction: column;
  }
}
