.frontpage {
  width: 90%;
  margin-left: 10%;
}
.blockContainer {
  display: flex;
  flex-wrap: wrap;
}

.frontpage > h1 {
  position: absolute;
  top: 14px;
  left: calc(10% + 38px);
  color: white;
  z-index: 2;
}
.blockContainer > :nth-child(2) {
  background-color: #a9a09c;
}
.blockContainer > :nth-child(3) {
  background-color: #e4dfce;
}
.blockContainer > :nth-child(7) {
  background-color: #e4dfce;
}
@media only screen and (max-width: 900px) {
  .frontpage {
    width: 100%;
    margin-left: 0%;
  }
  .frontpage > h1 {
    display: none;
  }

  .blockContainer > :nth-child(1) {
    height: 100vh;
  }
  .blockContainer > :nth-child(5) {
    order: 2;
  }
  .blockContainer > :nth-child(6) {
    order: 1;
  }
  .blockContainer > :nth-child(7) {
    order: 2;
  }
}
