.weddingWrapper {
  padding-left: 231px;
}

.weddingHeader p:first-of-type {
  padding-bottom: 1rem;
}

.weddingMenu {
  display: flex;
}

.weddingMenu img {
  left: auto !important;
}

.weddingMenu div {
  height: auto;
}

.weddingMenu > div {
  padding: 2rem 0;
}

.weddingHeader {
  background-color: #fffdf8;
}

@media only screen and (max-width: 900px) {
  .weddingWrapper {
    padding: 0;
  }

  .weddingMenu {
    flex-direction: column;
  }

  .weddingMenu div {
    width: auto;
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .weddingMenu > div > p {
    padding: 0.5rem 1rem;
  }

  .weddingMenu img {
    left: 45% !important;
  }

  .weddingForm h2 {
    padding: 0 2rem 0.5rem 2rem;
    text-align: center;
  }
}
