.group {
  display: flex;
  height: 100%;
}

.leftGroup,
.rightGroup,
.menuGroup {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.bottomLeftImage,
.topRightImage {
  width: 100%;
}

.topLeftImage,
.bottomRightImage {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .group {
    display: block;
  }

  .topLeftImage,
  .bottomLeftImage,
  .topRightImage,
  .bottomRightImage {
    width: 300%;
  }

  .bottomLeftImage {
    border: none;
  }
}
