.menu {
  box-sizing: border-box;
  background-color: #efece0;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
  height: 33.33%;
  width: auto;
}

.menu h4 {
  padding: 1.5rem 0rem;
  margin: 0;
}

.menu p {
  padding: 1rem 3rem;
  margin: 0;
}

.menu img {
  position: absolute;
  width: 180px;
  left: 55%;
}

@media only screen and (max-width: 900px) {
  .menu {
    width: 300%;
  }

  .menu img {
    left: 50%;
  }
}
