.menu {
  position: fixed;
  width: 231px;
  height: 100vh;
  background-color: black;
}
.menu a {
  color: white;
}
.menu nav {
  margin-left: 32px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: rgba(255, 255, 255, 0.4) 0.5px solid;
  padding-bottom: 16px;
  margin-bottom: 22px;
}
.menu > nav > a {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}
.menu > img {
  margin-left: 26px;
  margin-right: 26px;
  margin-bottom: 16px;
}
.menu h4 {
  color: white;
}
.menu pre {
  color: white;
}
.titelTextContainer {
  margin-left: 32px;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titelTextContainer > div {
  width: 80%;
}
.socialmediaContainer {
  width: 80%;
  margin-left: 32px;
  display: flex;
  padding-bottom: 16px;
  margin-top: 22px;
  border-bottom: rgba(255, 255, 255, 0.4) 0.5px solid;
  margin-bottom: 16px;
}
.socialmediaContainer > a {
  margin-right: 22px;
}
.menu .bottomNav {
  border: none;
}
@media only screen and (max-width: 900px) {
  .menu {
    width: 100%;
    z-index: 50;
    position: fixed;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #efece0;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
  }
  .menu > img {
    width: 50%;
    margin-top: 18px;
    margin-bottom: 7px;
  }
  .menu nav {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
    border: none;
    margin-bottom: 34px;
  }
  .menu > nav > a {
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 6px;
  }
  .menu a {
    color: black;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
  }
  .menu h4 {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: black;
  }
  .menu pre {
    color: black;
  }
  .titelTextContainer {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .titelTextContainer > div {
    margin-bottom: 21px;
  }
  .titelTextContainer > div * {
    text-align: center;
  }
  .socialmediaContainer {
    display: none;
  }
  .show {
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
  }
}
