.div {
  background-color: #efece0;
  padding: 0 2rem 3rem 2rem;
  text-align: center;
}

.div p {
  padding: 0 15rem 5rem 15rem;
}

.div img {
  padding: 3rem 0;
}

@media only screen and (max-width: 900px) {
  .div p {
    padding: 0 5rem 3rem 5rem;
  }

  .div {
    padding: 0 0 2rem 0;
  }
}
