.plusSign {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 5px;
  right: 5px;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.active {
  transform: rotate(45deg);
  transition: all 0.5s;
}
.horizontal {
  position: absolute;
  top: 14px;
  background-color: white;
  height: 2px;
  width: 30px;
}
.vertical {
  position: absolute;
  left: 14px;
  background-color: white;
  height: 30px;
  width: 2px;
}
