.contentWrapper {
  display: flex;
  flex-direction: column;
}

.contentWrapper h2 {
  padding: 2rem 0 0 2rem;
}

.contentWrapper p {
  padding: 1rem 2rem 0.5rem 2rem;
}

.textOrderBus,
.textOrderCar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textOrderBus {
  background-color: #efece0;
}

.textOrderCar {
  color: white;
  background-color: #2d231e;
}

.contentWrapper img {
  width: 100%;
  margin-bottom: -4px;
}

.car img {
  margin-left: -1px;
}

.bus,
.car {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .contentWrapper {
    padding: 0;
  }

  .contentWrapper img {
    width: 100%;
  }

  .bus,
  .car {
    flex-direction: column;
  }

  .car img {
    margin-left: 0;
  }

  .bus img,
  .car img {
    margin-bottom: -5px;
  }

  .contentWrapper h2 {
    padding: 2rem 0 0 1.5rem;
  }

  .contentWrapper p {
    padding: 1rem 1.5rem 0rem 1.5rem;
  }

  .contentWrapper p:last-child {
    padding-bottom: 1.5rem;
  }
}
